/* custom css */
body {
    margin: 0 !important;
    padding: 0 !important;
}
p {
    font-size: 14px;
    margin: 0;
}

label {
    font-size: 12px;
    margin: 0;
}

.navbar {
    background-color: white;
    box-shadow: 1.5px 1.5px 5px gray;
}

.navbar .navbar-brand {
    font-size: 32px !important;
    font-weight: bold;
    font-family: 'BIZ UDPMincho', serif;
}

/* swal css custom */
.swal-footer {
    text-align: center;
    /* background-color: rgb(245, 248, 250); */
    background-color: transparent;
    margin-top: 32px;
    /* border-top: 1px solid #E9EEF1; */
    overflow: hidden;
}

.swal-button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #dc3545;
    font-size: 12px;
    border: none;
    box-shadow: 1.5px 1.5px 5px gray;
}

.swal-button:hover {
    background-color: #b02634fc !important;
}

.card {
    margin: 10px 10px 0px 0px;
    padding: 0;
    width: 180px;
    height: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 10px gray;
    background-image: linear-gradient(#dc3545, #771821);
}

.card img {
    object-fit: cover;
    object-position: center;
    width: 180px;
    height: 280px;
    border: none;
    border-radius: 10px;
}

.card .card-footer {
    margin-top: -25px;
    border: none;
    padding: 0;
    background-color: transparent;
}

.card .card-footer span {
    margin: 0;
    color: white;   
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #dc3545;
    padding: 5px 10px;
    /* border-radius: 5px; */
}

/* added css */
.main {
    /* padding-bottom: 100px; */
}

.banner {
    background-size: cover;
    width: 100%;
    height: 600px;
    object-fit: cover;
    background-image: linear-gradient(to bottom, #dc3545 20%, white 80%);
}

.banner-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 500px;
    background: none;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}

.header-title {
    color: black;
    font-size: 42px;
    text-transform: uppercase;
}

.info-cover {
    width: 100%;
    height: 500px;
    box-shadow: 1.5px 1.5px 10px gray;
    object-fit: cover;
    background-image: linear-gradient(white, gray);
}

.info-img {
    width: 250px;
    height: 380px;
    object-fit: cover;
    box-shadow: 1.5px 1.5px 10px gray;
}

.info table {
    font-size: 14px;
}

.info .detail {
    width: 120px;
}

.link-side {
    text-decoration: none;
    color: black;
}

.loading {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 50px;
    padding-bottom: 10px;
}

.sign {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sign .sign-form {
    width: 500px;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 5px 5px 50px black;
}

.sign .sign-form form {
    margin: 40% auto;
    text-align: center;
}

.sign .sign-form form .sign-logo {
    height: 100px;
    margin-bottom: 50px;
}

.sign .sign-form form .form-control {
    height: 50px;
    margin-bottom: 10px;
}

.sign .sign-form form .d-grid {
    margin-top: 20px;
}

.sign .sign-form form .d-grid>.btn {
    height: 50px;
    margin-bottom: 5px;
}

.sign .sign-form label {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}
.sign .sign-form p {
    margin-top: 50px;
    text-align: center;
}

.sign .sign-form p .sign-link {
    margin-left: 10px;
    text-decoration: none;
    color: red;
}

.icon {
    margin: 5px;
    cursor: pointer;
}

.about-banner {
    margin: 0;
    padding-top: 150px;
    padding-bottom: 170px;
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
}
.about-banner h3 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    margin-bottom: 25px;
    font-size: 32px;
}
.about-banner p {
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}
.about-banner ul {
    color: white;
    margin-bottom: 20px;
}
.about-banner ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer {
    box-shadow: 1.5px 1.5px 5px gray;
    background-color: #97232ffc;
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
}
.footer ul {
    margin: 0;
    text-align: center;
}
.footer ul  li{
    list-style-type: none;
    margin-left: 10px;
    margin-right: 10px;
    display:inline
}
.footer ul li a {
    text-decoration: none;
    color: white;
}

.default, .default:hover {
    background-color: white !important;
    color: #dc3545;
}